*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    min-height: 100%;
    background: linear-gradient(-45deg,black, black,black	);
    /* video header*/

    font-size:1rem;
    font-weight:normal;
    line-height:1.5;
    color:#34495e;
    overflow-x:hidden;

}
/*navbar*/
.navbar {
    font-size: 18px;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    font-family: poppins;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: white;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: poppins;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
        font-family: poppins;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
}

/* welcome section */
.banner1, .banner2, .banner3 .banner4{
    height: 50%;
    width: 100%;
    position: absolute;
    left:0;
    top: 0;


}

.banner1{
    animation: slide1 12s linear infinite;
}
.banner2{
    animation: slide2 12s linear infinite;
}
.banner3{
    animation: slide3 12s linear infinite;
}
.banner4{
    animation: slide4 12s linear infinite;
}

@keyframes slide1 {
    0% {
        visibility: visible;
    }
    25% {
        visibility: hidden;
    }
   50% {
       visibility: hidden;
   }
       75% {
           visibility: hidden;
       }
           100%{
               visibility: visible;
           }
       }
@keyframes slide2 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}




img{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50%);
    animation: zoom-out 3s linear infinite;

}
@keyframes zoom-out {
    100%{
        width: 100%;
    }

}

.text-box{
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: #fff;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
}
@keyframes textup {
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }

}

.text-box h1 {
    margin-bottom: 40px;
}
.text-box p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 80px;
}
.text-box span{
    background: darkred;
    height: 1px;
    width: 100px;
    position: absolute;

}

.text-box1{
    animation-delay: 0s;

}
.text-box2{
    animation-delay: 3s;

}
.text-box3{
    animation-delay: 6s;

}
.text-box4 {
    animation-delay: 9s;
}

.welcome {
    font-size: 3em;
}
.welcome-about{
    margin-top: -17px;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}

.section-a{
    margin-top: 20px;
    font-size: 1.3em;


}

.service{
    text-align: center;
    color: #34495e;
}
.come-in{
    color: white;
}
.card-group{
    background-color: black;
    margin-top: 500px;
}
.together{
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: #34495e;
}
.card-title{
    text-align: center;
}
.btn {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: white;
    border: 4px white;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    margin-top: 230px;
}



.btn:hover, .btn:active {
    background-color: white;
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

@media only screen and (max-width:920px ) {
    inner-container{


    }


}
@media only screen and (max-width: 540px){
    .inner-container{

    }
}
.card {

    margin-top: 10px;
    width: auto;



}

.card-body {
    background: black;

}

.h4 {
    background: black;
    color: black;


}





.card-text {
    text-align: center;
}


/*navbar*/

.navbar {
    background: black;
    height: 9rem;
    display: flex;
    width: 100%;
}

.navbar-brand {
    color: #81D8D0;
    font-family: cursive;

}

/*contact form */
.contact-section{
    background-color: black;
    padding: 40px 0;
    margin-top: 80px;

}
.contact-section h1{
    text-align: center;
    color: #34495e;

}
.border{
    width: 100px;
    height: 10px;
    margin-top: auto;


}


.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 10 50px;
}

.contact-form-text{
    display: block;
    width:100%;
    box-sizing: border-box;
    margin: 20px 0;
    border: 0;
    background: #111;

    outline: none;
    color: white;
    transition: 0.5s;

}
.contact-form-text:hover{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
    margin-bottom: 20px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: -10px;


}
.contact-form-btn:hover{
    background: #34495e;
}


/*footer*/
footer{
    position: relative;
    bottom: 0;
}
.footer-distributed{
    background-color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
    width: 40%;
}

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #34495e;
}


.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.company-name{
    text-align: center;

}


.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #34495e;
    text-decoration: none;
    font-size: 15px;

}

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;

    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }

}
