body {
    width: 100%;
    min-height: 100%;
    background: black;



font-size:1rem;
font-weight:normal;
line-height:1.5;
color:black;
overflow-x:hidden;
}

/* welcome section */
.image-container {
    background-image: url("./photo1.jpg");
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.inner-container {
    text-align: center;
    width: 100%;
    color: white;
    height: auto;

}

.welcome {
    font-size: 3em;
}
.welcome-about{
    margin-top: -17px;
    font-size: 1.7em;
    text-align: center;
    font-weight: 400;
}

.section-a{
    margin-top: 20px;
    font-size: 1.3em;


}

.service{
    text-align: center;
}
.together{
    text-align: center;
    font-family: 'Krona One', sans-serif;
}
.card-title{
    text-align: center;
}
.btn {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    padding: 10px;
    color: white;
    border: 4px white;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    margin-top: 230px;
}



.btn:hover, .btn:active {
    background-color: white;
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

@media only screen and (max-width:920px ) {
    inner-container{


    }


}
@media only screen and (max-width: 540px){
    .inner-container{

    }
}



/*navbar*/

.navbar {
    background: black;
    height: 9rem;
    display: flex;
    width: 100%;
}

.navbar-brand {
    color: #81D8D0;
    font-family: cursive;

}

/*contact form */
.contact-section{
    background-color: black;
    padding: 40px 0;
    margin-top: 80px;

}
.contact-section h1{
    text-align: center;
    color: #558d02;

}
.border{
    width: 100px;
    height: 10px;
    margin-top: auto;


}


.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 10 50px;
}

.contact-form-text{
    display: block;
    width:100%;
    box-sizing: border-box;
    margin: 20px 0;
    border: 0;
    background: #111;

    outline: none;
    color: white;
    transition: 0.5s;

}
.contact-form-text:hover{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
    margin-bottom: 20px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: forestgreen;
    color: black;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: -10px;


}
.contact-form-btn:hover{
    background: #2980b9;
}


/*footer*/
footer{
    position: relative;
    bottom: 0;
}
.footer-distributed{
    background-color: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
    width: 40%;
}

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  forestgreen;
}


.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.company-name{
    text-align: center;

}


.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  Green;
    text-decoration: none;
    font-size: 15px;

}

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 10px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}


@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;

    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }

}
